/*Moved this CSS to main.css */
body {
  background-color: #0a192f !important;
  color: #8892b0 !important;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif !important;
  margin: 2% !important;
  max-width: 1350px;
}
.section {
  text-align: center;
}
.tasks {
  font-size: 14px;
}
span.location {
  float: right;
  margin-right: 25px;
  color: #64ffda !important;
}
.years {
  color: #64ffda !important;
  font-size: 16px;
}
/*Can Remove This color when moving to main.css */
h1,
h4,
h2 {
  color: #51ceb0 !important;
}

h6 {
  color: #64ffda !important;
}
.divider {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.task-list {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
